// body {
//   .avatar {
//     width: 150px;
//     height: 150px;
//     transform: translate(100px, 100px);
//   }
// }

@font-face {
  font-family: 'iconfont'; /* Project id 5112335 */
  src:
    url('./font/iconfont.woff2?t=1768715505497') format('woff2'),
    url('./font/iconfont.woff?t=1768715505497') format('woff'),
    url('./font/iconfont.ttf?t=1768715505497') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: '\e601';
}

.icon-message:before {
  content: '\e606';
}
